todo-item {
  display: block;
  border-top: 1px solid #ededed;
  position: relative;
}

.item {
  word-break: break-all;
  padding: 18px 15px 15px 15px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
  font-size: 20px;
}

.done {
  text-decoration: line-through;
  color: #a0a0a0;
  font-style: italic;
}

.control-action {
  float: right;
}
